[submodule "third_party/EmbodiedBench"]
	path = third_party/EmbodiedBench
	url = https://github.com/EmbodiedBench/EmbodiedBench.git
[submodule "third_party/Depth-Anything-3"]
	path = third_party/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
